@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&family=Lalezar&display=swap');

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('./assets/space.png') no-repeat center center fixed;
    background-size: cover; /* 배경 크기를 화면에 맞춤 */
    color: white;
    text-align: center;
    font-family: 'Jua', sans-serif;
    padding: 20px;
  }
  
  /* 로고 스타일 */
  .about-logo {
    width: 200px; /* 로고 크기를 줄여 화면에 맞춤 */
    margin-bottom: 20px;
  }
  
  /* 뒤로가기 버튼 스타일 */
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px; /* about 버튼과 구분된 위치 */
    font-family: 'Jua', sans-serif; /* 강조 폰트 */
    font-size: 20px; /* 글씨 크기를 about 버튼과 동일하게 */
    color: white;
    background-color: transparent;
    border: 2px solid white; /* 흰색 네모 박스 추가 */
    padding: 10px 50px; /* 내부 여백도 about 버튼과 동일 */
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s ease;
    text-transform: uppercase; /* 텍스트 대문자로 */
  }
  
  .back-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* hover 시 반투명 */
    color: #007bff; /* hover 시 파란색 */
    border-color: #007bff;
  }
  .login-content {
    animation: fadeIn 1s ease-in-out; /* 페이드 인 효과 */
    }
